body {
  background-color: #f0f0f0;
  border: none;
/*  font-size: 10pt;*/
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 40px; 
  margin-bottom: 40px; 
  margin-left: 70px; 
  margin-right: 70px; 
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ボタンのスタイリング */
button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.long-input {
  width: 243px; 
  padding: 0.2rem; 
}

button:hover {
  background-color: #555;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

blockquote {
  margin-top: -20px; 
  margin-bottom: 40px; 
  margin-left: 0px; 
  margin-right: 0px; 

  padding-top: 1px; 
  padding-bottom: 40px; 
  padding-left: 10px; 
  padding-right: 10px; 
/*  padding: 0.5rem;*/

}

p {
  font-size: 10pt;
}


.smallArea {
  /* 基本的なサイズの設定 */
  background-color: #d1e8ff;
}


/* レスポンシブデザイン */
@media (max-width: 600px) {
  main {
/*    font-size: 10pt;*/
    margin: 1rem;
    padding: 0.5rem;
  }
}