/* ページ全体に対するスタイリング */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  margin-top: 40px; /* 上部のマージンを20pxに設定 */
  margin-bottom: 40px; /* 下部のマージンを30pxに設定 */
  margin-left: 70px; /* 左側のマージンを10pxに設定 */
  margin-right: 70px; /* 右側のマージンを15pxに設定 */
}

/* ヘッダーのスタイリング */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* メインコンテンツエリアのスタイリング */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ボタンのスタイリング */
button {
  background-color: #333;
  color: #fff;
  border: none;
/*  padding: 0.5rem 1rem;*/
/*  border-radius: 4px;*/
  cursor: pointer;
  transition: background-color 0.2s;
}

.long-input {
  width: 243px; /* 幅を100%に設定して、親要素に合わせる */
  padding: 0.2rem; /* 上下左右の余白を追加 */
}

button:hover {
  background-color: #555;
}

/* フッターのスタイリング */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
  main {
    margin: 1rem;
    padding: 0.5rem;
  }
}
