<!DOCTYPE html>
<html>
<head>
    <title>Multimodal Bird Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <form action="/" method="post">
        <div>
            <label>単語検索： </label>
            <input class=long-input type="text" name="query" placeholder="Input bird name">
            <button type="submit">検索</button>
        </div>
    </form>
    <br>
    <form action="/" method="post">
        <div class="group">
            <label>音声検索：</label>
            <input type="file" name="bird_song" placeholder="Input bird song file">
            <button type="submit">検索</button>
        </div>
    </form>


    <!-- <h1>Welcome to the Test Page, {{ dammy_data }}!</h1> -->
    <h5>最も近い鳥種<h5>
    <a>{{ gpt_ans_self }}</a>
    <h5>より広い鳥種<h5>
    <p>{{ gpt_ans_parent }}</p>
    <h5>この鳥種の仲間<h5>
    <p>{{ gpt_ans_children }}</p>
</body>
</html>