<!DOCTYPE html>
<html>
<head>
    <title>Multimodal Bird Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <form action="/" method="post">
        <div>
            <label>単語検索： </label>
            <input class=long-input type="text" name="query" placeholder="Input bird name">
            <button type="submit">検索</button>
        </div>
    </form>
    <br>
    <form action="/" method="post">
        <div class="group">
            <label>音声検索：</label>
            <input type="file" name="bird_song" placeholder="Input bird song file">
            <button type="submit">検索</button>
        </div>
    </form>

<!-- 
"self_taxon_name"
"self_ja_name"
"self_ja_aliases"
"self_en_name"
"self_en_aliases"
"self_link"
"self_imgs_list"-->
    <br>
    <!-- <h1>Welcome to the Test Page, {{ dammy_data }}!</h1> -->
    <h2>最も近い鳥種</h2>
    <blockquote class=smallArea>
        <h4 class=smallArea>【和名】<a href="{{ self_link }}">{{ self_ja_name }}</a> {{ self_ja_aliases }} 
            <br>【英名】<a href="{{ self_link }}">{{ self_en_name }}</a> {{ self_en_aliases }}</h4>

        {% for img in self_imgs_list %}
        <iframe src="{{ img }}" width="500" height="300" frameborder="0"></iframe>
        {% endfor %}

        <h5>【解説】</h5>
        <p>{{ gpt_ans_self }}</p>
    </blockquote>


    <h2>より広い鳥種</h2>
    <blockquote class=smallArea>
        <h4 class=smallArea>【和名】<a href="{{ parent_link }}">{{ parent_ja_name }}</a> {{ parent_ja_aliases }} 
            <br>【英名】<a href="{{ parent_link }}">{{ parent_en_name }}</a> {{ parent_en_aliases }}</h4>

        {% for img in parent_imgs_list %}
        <iframe src="{{ img }}" width="500" height="300" frameborder="0"></iframe>
        {% endfor %}

        <h5>【解説】</h5>
        <p>{{ gpt_ans_parent }}</p>
    </blockquote>
    

    <h2>この鳥種の仲間</h2>
    <blockquote class=smallArea>
        <h5>【解説】</h5>
        <p>{{ gpt_ans_children }}</p>
    </blockquote>
</body>
</html>