<!DOCTYPE html>
<html>
<head>
    <title>Multimodal Bird Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <form action="/" method="post">
        <div>
            <label>単語検索： </label>
            <input class=long-input type="text" name="query" placeholder="Input bird name">
            <button type="submit">検索</button>
        </div>
    </form>
    <br>
    <form action="/" method="post">
        <div class="group">
            <label>音声検索：</label>
            <input type="file" name="bird_song" placeholder="Input bird song file">
            <button type="submit">検索</button>
        </div>
    </form>

<!-- 
"self_taxon_name"
"self_ja_name"
"self_ja_aliases"
"self_en_name"
"self_en_aliases"
"self_link"
"self_imgs_list"-->

    <!-- <h1>Welcome to the Test Page, {{ dammy_data }}!</h1> -->
    <h2>最も近い鳥種</h2>
    <h5><a href="{{ self_link }}">{{ self_ja_name }}</a> {{ self_ja_aliases }}</h5>
    <h5><a href="{{ self_link }}">{{ self_en_name }}</a> {{ self_en_aliases }}</h5>
    <ul>
        {% for item in self_imgs_list %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <h5>解説</h5><p>{{ gpt_ans_self }}</p>
    <h2>より広い鳥種</h2>
    <h5>解説</h5><p>{{ gpt_ans_parent }}</p>
    <h2>この鳥種の仲間</h2>
    <h5>解説</h5><p>{{ gpt_ans_children }}</p>
</body>
</html>